{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='admin-panel'>
        <h3>Détails du profil de {{ applianceDetails['name'] }}</h3>
        
        <ul class='appliance-details'>
            <li>Objectif(s) : {{ applianceDetails['objectives'] }}</li>
            <li>Emploi : {{ applianceDetails['job_style'] }}</li>
            <li>Age : {{ applianceDetails['age'] }} ans</li>
            <li>Taille : {{ applianceDetails['height'] / 100 }} m</li>
            <li>Poids actuel : {{ applianceDetails['initial_weight'] }} kg</li>
            <li>Restriction(s) nutritive(s) : {{ applianceDetails['food_restrictions'] }}</li>
            <li>Intolérance(s) : {{ applianceDetails['food_intolerances'] }}</li>
            <li>Activité sportive : {{ applianceDetails['sport_habits'] }}</li>
        </ul>
        
        <div id='appliance-decision-box'>
            <a href='index.php?action=approve-appliance&id={{ applianceDetails['user_id'] }}' class='btn rounded-btn tiny-btn blue-bkgd'>Accepter</a>
            
            <button class='btn rounded-btn tiny-btn red-bkgd' id='decline-btn' data-id='{{ applianceDetails['user_id'] }}'>Refuser</button>
        </div>
    </div>
{% endblock pageContent %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}