{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='admin-panel program-panel'>
        <h3>Programme de {{ subscriberHeaders['name'] }}</h3>
        
        {% if programMeals | length %}
            <ul class='day-list'>
                {% for dayKey, dailyMeals in programData %}
                    <li>
                        <h4 class='admin-panel-header orange-bkgd'>
                            {% for weekDay in weekDaysTranslations %}
                                {% if weekDay['english'] == dayKey %}
                                    {{ weekDay['french'] }} - {{ programMeals | length }} repas
                                {% endif %}
                            {% endfor %}
                        </h4>
                        
                        <ul class='daily-program-list' data-daily-program='{{ dailyMeals | json_encode() }}'>
                            {% for mealKey, meals in programMeals %}
                                <li class='meal-item'>
                                    {% set meal = '' %}
                                    <h5 class='meal-header'>
                                        {% for mealTranslation in mealsTranslations %}
                                            {% if meals == mealTranslation['english'] %}
                                                {% set meal = mealTranslation['english'] %}
                                                {{ mealTranslation['french'] }}
                                            {% endif %}
                                        {% endfor %}
                                    </h5>
                                    <a href='index.php?page=subscriber-meal&id={{ subscriberHeaders['user_id'] }}&meal={{ dayKey }}-{{ meal | replace({' #': '_'}) }}'>
                                        <table class='btn meal-data-tab'></table>
                                    </a>
                                </li>
                            {% endfor %}
                            
                            <button class='btn rounded-btn nutrients-toggle wrap-btn large-btn white-bkgd'>
                                <i class="fa-solid fa-angle-up"></i>
                            </button>
                        </ul>
                        
                        <div class='day-nutrients'>
                            <table class='btn day-data-tab'>
                            </table>
                            
                            <button class='btn rounded-btn unwrap-btn nutrients-toggle large-btn blue-bkgd'><i class='fa-solid fa-angle-down'></i></button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <form action='index.php?action=generate-meals&id={{ subscriberHeaders['user_id'] }}' method='post' class='meals-form' data-meals='{{ mealsTranslations | json_encode() }}'>
                <p>Sélectionnez les repas à intégrer chaque jour :</p>
                
                <div id='meal-inputs-block'>
                    {% for mealKey, meal in mealsTranslations %}
                        <div class='meal-entry'>
                            <input type="checkbox" name="meal-{{ mealKey }}" id="meal-{{ mealKey }}">
                            <label for="meal-{{ mealKey }}">{{ meal['french'] }}</label>
                        </div>
                    {% endfor %}
                </div>
                
                <button type='submit' id='meals-submit-btn' class='btn rounded-btn tiny-btn blue-bkgd'>Suivant</button>
            </form>
        {% endif %}
        
        {% if isProgramFileUpdatable == true %}
            <a href='index.php?action=generate-program-file&id={{ subscriberHeaders['user_id'] }}' class='btn small-circle-btn blue-bkgd' id='pdf-btn'>
                <i class='fa-solid fa-file-export'></i>
            </a>
        {% else %}
            <button class='btn small-circle-btn grey-bkgd' id='pdf-btn'>
                <i class='fa-solid fa-file-export'></i>
            </button>
        {% endif %}
    </div>
{% endblock pageContent %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}