{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='admin-panel'>
        <h3>Vos coaching en cours</h3>
        
        {% if subscribersHeaders %}
            {% for headers in subscribersHeaders %}
                <ul class='appliance-card'>
                    <li>{{ headers['name'] }}</li>
                    <li>{{ headers['age'] }} ans, {{ headers['job_style'] | lower }}</li>
                    <li>Objectif(s) : {{ headers['program_goal'] }}</li>
                    <li>Status du programme : {{ headers['program_status'] }}</li>
                    <a href='index.php?page=subscriber-profile&id={{ headers['user_id'] }}' class='btn rounded large-btn blue-bkgd'>Détails du profil</a>
                </ul>
            {% endfor %}
        {% else %}
            <div class='appliance-card'>
                <p>Vous n'avez encore d'abonnés, mais ne vous inquiétez pas ... ça va venir !</p>
            </div>
        {% endif %}
    </div>
{% endblock pageContent %}