{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='admin-panel'>
        <h3>{{ mealParams['meal'] | capitalize }} du {{ mealParams['day'] | split (' ')[0] | lower }}</h3>
        
        <div class='meal-summary'>
            {% if mealNutrientsData %}
                <h4 class='meal-edition-header orange-bkgd'>Apports nutritionnels</h4>
                
                <table class='meal-nutrients-table' id='meal-nutrients' data-daily-program='{{ mealNutrientsData | json_encode() }}'></table>
            {% endif %}
        </div>

        <div class='meal-summary'>            
            {% if mealDetails is iterable %}
                <h4 class='meal-edition-header orange-bkgd'>Liste des ingrédients</h4>
                
                <ul class='ingredients-list'>
                    {% for ingredient in mealDetails %}
                        <li class='ingredients-list-item'>
                            <p>
                                {{ ingredient['quantity'] }}
                                
                                {% if ingredient['measure'] is not empty %}
                                    {{ ingredient['measure'] }} de
                                {% endif %}
                                
                                {{ ingredient['ingr_name'] }}
                                
                                {% if ingredient['recipe'] is not null %}
                                    {{ ingredient['recipe'] }}
                                {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class='meal-summary edit-btns'>
            <a href='' class='btn tiny-btn rounded-btn blue-bkgd'>Editer à partir d'une liste vide</a>
            <a href='' class='btn tiny-btn rounded-btn blue-bkgd'>Editer à partir de l'existant</a>
        </div>
    </div>
{% endblock pageContent %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}