{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='admin-panel'>
        <h3>{{ mealParams['meal'] | capitalize }} du {{ mealParams['day'] | split (' ')[0] | lower }}</h3>
        
        <div class='meal-summary'>
            {% if mealsNutrientsData %}
                <h4 class='admin-panel-header orange-bkgd'>Apports nutritionnels</h4>
                
                <table class='meal-nutrients-table' id='meal-nutrients' data-daily-program='{{ mealsNutrientsData | json_encode() }}'></table>
            {% endif %}
        </div>
        
        <div class='meal-summary'>            
            {% if mealsNutrientsData is iterable %}
                <h4 class='admin-panel-header orange-bkgd'>Liste des ingrédients</h4>
                
                <ul class='ingredients-list'>
                    {% for mealData in mealsNutrientsData %}
                        <li class='ingredients-list-item'>
                            <p>
                                {% if mealData['item_type'] == 'ingredient' %}
                                    {{ mealData['quantity'] }}
                                    
                                    {% if mealData['measure'] is not empty %}
                                        {{ mealData['measure'] }} de
                                    {% endif %}
                                    
                                    {{ mealData['ingr_name'] }}
                                    
                                    {% if mealData['preparation'] is not null %}
                                        {{ mealData['preparation'] }}
                                    {% endif %}
                                    
                                    {% if mealData['recipe'] is not null %}
                                        {{ mealData['recipe'] }}
                                    {% endif %}
                                    
                                {% elseif mealData['item_type'] == 'recipe' %}
                                    {{ mealData['quantity'] }}
                                    
                                    portion{% if mealData['quantity'] >= 2 %}s{% endif %} de
                                    
                                    {{ mealData['rec_name'] }}
                                    
                                    (recette)
                                    
                                {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        
        <div class='meal-summary edit-btns'>
            <a href='' class='btn tiny-btn rounded blue-bkgd'>Editer à partir d'une liste vide</a>
            <a href='' class='btn tiny-btn rounded blue-bkgd'>Editer à partir de l'existant</a>
        </div>
    </div>
{% endblock pageContent %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}