{% extends 'common.html.twig' %}

{% block pageContent %}
    <ul class='showcase-panel programs-list'>
        {% for program in programs %}
            <li class='{{ program.name }}-program'>
                <a href='index.php?page=program-details&program={{ program.name }}' class='program-summary' aria-label='Accéder aux détails de la formule'>
                    {% set titleWords = program.frenchTitle|split(' ') %}
                    {% set firstWord = titleWords[0] %}
                    {% set remainingWords = titleWords|slice(1) %}
                    
                    <h2>
                        <span class="first-word">{{ firstWord }}</span>
                        {{ remainingWords|join(' ') }}
                    </h2>
                    
                    <p><i class="fa-solid fa-clock"></i>{{ program.duration }} jours</p>
                    
                    <p>{{ program.subscriptionPrice }} €</p>
                    
                    <span class='btn blue-bkgd big-circle-btn'>
                        <i class="fa-solid fa-plus"></i>
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}