{% extends 'base.html.twig' %}

{% block title %}
    {{ frenchTitle | capitalize }}
{% endblock title %}

{% block styles %}
    {% for stylePath in stylePaths %}
        <link rel='stylesheet' href='./../assets/css/{{ stylePath }}.css' type='text/css'>
    {% endfor %}
{% endblock styles %}

{% block header %}
    {% include 'components/header.html.twig' %}
{% endblock header %}

{% block headerLayer %}
    {% include 'components/header-layer.html.twig' %}
{% endblock headerLayer %}

{% block pageContent %}
    <div class='user-panel'>
        <h3>{{ meal['meal'] }} du {{ meal['day'] | lower }}</h3>

        {% if ingredients is iterable %}
        <ul class='ingredients-list'>
        
            {% for ingredient in ingredients %}
            <li class='ingredients-list-item'>
                <img src="./../public/img/ingredients/{{ ingredient['type'] }}/{{ ingredient['name'] | lower }}.jpg" alt="{{ ingredient['name'] | lower }}-picture" class='ingredient-picture' />
                <div class='ingredient-desc'>
                    <p>
                        {{ ingredient['quantity'] }}
                        
                        {% if ingredient['measure_unit'] is not empty %}
                            {{ ingredient['measure_unit'] }} de
                        {% endif %}

                        {{ ingredient['french_name'] }}

                        {% if ingredient['cooking'] is not null %}
                        {{ ingredient['cooking'] }}
                        {% endif %}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock pageContent %}

{% block footer %}
    {% include 'components/footer.html.twig' %}
{% endblock footer %}