<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ frenchTitle | capitalize }}</title>
    
    <!-- SEO -->
    <meta name="description" content="Dodie coaching app">
    <meta name="keyworks" content="nutrition, coach, dodie, food, eat, better, help, support">
    <meta name="author" content="Mathieu Jourdan">
    
    <!-- global CSS -->
    <link rel='stylesheet' href='http://localhost:8080/Dodie_coaching/assets/css/globals/normalize.css' type='text/css'>
    <link rel='stylesheet' href='http://localhost:8080/Dodie_coaching/assets/css/globals/main.css' type='text/css'>
    
    <!-- custom CSS -->
    <link rel='stylesheet' href='http://localhost:8080/Dodie_coaching/assets/css/pages/pdf-file.css' type='text/css'>
</head>

<body>
    <header>
        <img src='./../public/img/favicon.png' class='logo' alt='logo' />
        <h1>Programme nutritionnel de {{ subscriberHeaders['name'] }}</h1>
    </header>
    
    <table>
        <tr>
            <th class='table-headers'>Jour</th>
            
            {% for programMeal in programMeals %}
                {% for mealTranslation in mealsTranslations %}
                    {% if mealTranslation['english'] == programMeal %}
                        <th class='table-headers'>{{ mealTranslation['french'] }}</th>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tr>
        
        {% for dayKey, dayItem in programData %}
            <tr>
                {% for weekDayTranslation in weekDaysTranslations %}
                    {% if weekDayTranslation['english'] == dayKey %}
                        <td class='week-days'>{{ weekDayTranslation['french'] }}</td>
                    {% endif %}
                {% endfor %}
                
                {% for mealKey, mealItem in dayItem %}
                    <td>
                        <ul>
                            {% for ingredientKey, ingredientItem in mealItem %}
                                <li>
                                    {% if ingredientItem['item_type'] == 'ingredient' %}
                                        {{ ingredientItem['quantity'] }}
                                        
                                        {% if ingredientItem['measure'] is not empty %}
                                            {{ ingredientItem['measure'] }} de
                                        {% endif %}
                                        
                                        {{ ingredientItem['ingr_name'] }}

                                        {% if ingredientItem['preparation'] is not null %}
                                            {{ ingredientItem['preparation'] }}
                                        {% endif %}
                                        
                                        {% if ingredientItem['recipe'] is not null %}
                                            {{ ingredientItem['recipe'] }}
                                        {% endif %}
                                        
                                    {% elseif ingredientItem['item_type'] == 'recipe' %}
                                        {{ ingredientItem['quantity'] }}
                                        
                                        portion{% if ingredientItem['quantity'] >= 2 %}s{% endif %} de
                                        
                                        {{ ingredientItem['rec_name'] }}
                                        
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>