<ul class='showcase-panel programs-list'>
    {% for program in programs %}
    <li class='{{ program.name }}-program'>
        <a href='index.php?page=program-details&program={{ program.name }}' class='program-summary glowy-bkgd'>
            <h2>{{ program.frenchTitle }}</h2>
            <p><i class="fa-solid fa-clock"></i>{{ program.duration }} jours</p>
            <p>{{ program.subscriptionPrice }} €</p>
            <span class='btn'>
                <i class="fa-solid fa-plus"></i>
            </span>
        </a>
    </li>
    {% endfor %}
</ul>