{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='user-panel meals-list-panel'>
        <h3>Votre programme de la semaine</h3>
        
        {% if meals != NULL %}
            {% if (nextDays is not empty) and (nextDays is iterable) %}
                <ul class='nutrition-days-list'>
                    {% for dayKey, day in nextDays %}
                        <li>
                            <div class='day-name'>
                                <div class='day-name-content'>
                                    <h4>{{ day['frenchFullDate'] }}</h4>
                                    <div class='day-name-underline'></div>
                                </div>
                            </div>

                            <ul class='meals-list'>
                                {% for mealKey in meals | keys %}
                                    {% set englishMeal = meals[mealKey] %}
                                    {% set shortEnglishMeal = meals[mealKey] | replace({' #': '_'}) %}
                                    
                                    <li class='{{ shortEnglishMeal }}-list-item'>
                                        {% set frenchMeal = englishMeal %}
                                        {% for mealTranslation in mealsTranslations %}
                                            {% if mealTranslation['english'] == englishMeal %}
                                                {% set frenchMeal = mealTranslation['french'] %}
                                            {% endif %}
                                        {% endfor %}
                                        
                                        <a href='index.php?page=nutrition&meal={{ day['englishWeekDay'] }}-{{ shortEnglishMeal }}' class='light-shaded-bkgd' aria-label='Accéder au détail des ingrédients pour ce repas'>
                                            <h5>{{ frenchMeal }}</h5>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
                
                <div class='nutrition-requests'>
                    <a href='index.php?page=nutrition&request=shopping-list' class='btn rounded purple-bkgd' aria-label='Accéder à ma liste des courses'>
                        Voir la liste de courses
                    </a>
                    
                    {% if programFilePath is not empty %}
                        <a href='{{ programFilePath }}' id='download-program-btn' class='btn rounded purple-bkgd'  download='mon_plan_nutrition.pdf' aria-label='Télécharger mon programme hebdomadaire en version PDF'>
                            <i class='fa-solid fa-download'></i>
                        </a>
                        
                    {% else %}
                        <a role='link' class='btn rounded grey-bkgd' aria-disabled='true'>
                            <i class='fa-solid fa-download'></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <div class='no-program-block'>
                <p>Votre programme est en cours de création par votre coach.</p>
                
                <p>Vous serez notifié(e) par email dès que celui-ci sera finalisé.</p>
            </div>
            
            <a href='index.php?page=dashboard' class='btn rounded tiny-btn purple-bkgd'>Retour au menu</a>
        {% endif %}
    </div>
{% endblock pageContent %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}