{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='user-panel'>
        <h3>Liste de courses</h3>
        
        {% if shoppingList is iterable %}
            {# {{ dump(mealItems) }} #}
            <ul class='shopping-list'>
                {% for shoppingListItem in shoppingList %}
                    <li>
                        <input type='checkbox' id={{ shoppingListItem['ingr_name'] }} />
                        
                        <label>
                            {{ shoppingListItem['name'] }}
                            (
                                {{ shoppingListItem['total_quantity'] }}
                                {% if shoppingListItem['measure'] is not null %}{{ shoppingListItem['measure'] }}{% endif %}
                            )
                        </label>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock pageContent %}