<div class='member-panel meals-list-panel'>
    <h3>Votre programme de la semaine</h3>

    {% if (nextDays is not empty) and (nextDays is iterable) %}
    <ul class='nutrition-days-list'>
        {% for dayKey, day in nextDays %}
        <li>
            <h4>{{ day['frenchFullDate'] }}</h4>
            <ul class='meals-list'>
                {% for mealKey in meals | keys %}
                <li class='{{ meals[mealKey]['english'] }}-list-item'>
                    <a href='index.php?page=nutrition&meal={{ day['englishWeekDay'] }}-{{ meals[mealKey]['english'] }}'>
                        <h5>{{ meals[mealKey]['french'] }}</h5>
                    </a>
                    <div></div>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <div class='nutrition-requests'>
        <a href='index.php?page=nutrition&request=shopping-list' class='btn rounded-btn purple-to-blue-bkgd'>
            Voir la liste de courses
        </a>

        {% if programFilePath is not empty %}
        <a href='{{ programFilePath }}' class='btn rounded-btn purple-to-blue-bkgd'  download="mon_plan_nutrition">
            <i class="fa-solid fa-download"></i>
        </a>
        {% else %}
        <a role='link' class='btn rounded-btn greyed-out-bkgd' aria-disabled='true'>
            <i class="fa-solid fa-download"></i>
        </a>
        {% endif %}
    </div>
    {% endif %}
</div>