{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='admin-panel'>
        <h3>Détails du profil de {{ applicationDetails['name'] }}</h3>

        <ul class='application-details'>
            <li>Objectif(s) : {{ applicationDetails['objectives'] }}</li>
            <li>Emploi : {{ applicationDetails['job_style'] }}</li>
            <li>Age : {{ applicationDetails['age'] }} ans</li>
            <li>Taille : {{ applicationDetails['height'] / 100 }} m</li>
            <li>Poids actuel : {{ applicationDetails['initial_weight'] }} kg</li>
            <li>Restriction(s) nutritive(s) : {{ applicationDetails['food_restrictions'] }}</li>
            <li>Intolérance(s) : {{ applicationDetails['food_intolerances'] }}</li>
            <li>Activité sportive : {{ applicationDetails['sport_habits'] }}</li>
        </ul>

        <div id='application-decision-box'>
            <a href='index.php?action=approve-application&id={{ applicationDetails['id'] }}' class='btn rounded-btn tiny-btn'>Accepter</a>
            <button class='btn rounded-btn tiny-btn red-bkgd' id='decline-btn' data-id='{{ applicationDetails['id'] }}'>Refuser</button>
        </div>
        
    </div>
{% endblock pageContent %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}