{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='admin-panel'>
        {% if (applicationsCount is defined) and (applicationsCount != false) %}
            <div class='dashboard-card pending-applications'>
                <h3>Vos demandes de coaching</h3>
                <p>Vous avez {{ applicationsCount['applicationsCount'] }} demandes en attente.</p>
                <a href='index.php?page=applications-list' class='btn large-btn admin-link'>Gérer de vos demandes</a>
            </div>
        {% endif %}

        {% if subscribersCount is defined %}
            <div class='dashboard-card current-subscribers'>
                <h3>Vos coaching en cours</h3>
                <p>Vous suivez actuellement {{ subscribersCount['subscribersCount'] }} abonné(s).</p>
                <a href='index.php?page=subscribers-list' class='btn large-btn admin-link'>Gestion de vos suivis</a>
            </div>
        {% endif %}

        {% if todayMeetingsData is defined %}
            <div class='dashboard-card incoming-meetings'>
                <h3>Vos rendez-vous</h3>

                {% if todayMeetingsData | length > 0 %}

                    <p>Aujourd'hui, vous avez {{ todayMeetingsData | length }} rendez-vous  :</p>
                    <ul>

                    {% for meetingData in todayMeetingsData %}

                        <li>
                            à {{ meetingData['meetingTime'] }}
                            : {{ meetingData['costumerName'] }}
                        </li>
                        
                    {% endfor %}

                    </ul>

                {% else %}

                    <p>Vous n'avez aucun rendez-vous aujourd'hui.</p>
                    <p>Vous allez enfin pouvoir vous détendre !</p>

                {% endif %}
                <a href='index.php?page=manage-meetings' class='btn large-btn admin-link'>Gestion de vos rendez-vous</a>
            </div>
        {% endif %}
    </div>
{% endblock pageContent %}