{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='admin-panel'>
        <h3>Programme de {{ subscriberHeaders['name'] }}</h3>
        {% if subscriberMeals['monday'] | length > 0 %}
            <ul class='day-list'>
                {% for dayKey, dailyMeals in subscriberMeals %}
                    <li>
                        <h4 class='section-header orange-bkgd'>
                            {# look for translation of day in weekDayList #}
                            {% for weekDay in weekDaysList %}
                                {% if weekDay['english'] == dayKey %}
                                    {{ weekDay['french'] }} - {{ dailyMeals | length }} repas
                                {% endif %}
                            {% endfor %}
                        </h4>

                        {{ dump}}
                        <ul class='daily-program-list' data-daily-program='{{ dailyMeals | json_encode() }}'>
                            {% for mealKey, meals in dailyMeals %}
                                <li>
                                    <h5 class='section-header meal-item'>
                                        {# look for translation of day in weekDayList #}
                                        {% for mealName in mealsList %}
                                            {% set meal = meals | first %}
                                            {% if mealName['english'] == meal['meal'] %}
                                                {{ mealName['french'] }}
                                            {% endif %}
                                        {% endfor %}
                                    </h5>
                                    <table class='meal-data-tab' data-ingredients='{{ meals | json_encode() }}'>
                                    </table>
                                </li>
                            {% endfor %}
                        </ul>
                        <table class='day-data-tab'>
                        </table>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <form class='program-build-form'>
                <label for='meals-per-day'>Combien de repas par jour ?</label>
                <input type='number' name='meals-per-day'></input>

                <input type='submit' value='Valider' class='btn rounded-btn large-btn'></input>
            </form>
        {% endif %}
    </div>
{% endblock pageContent %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}