{% extends 'common.html.twig' %}

{% block pageContent %}
    <div class='admin-panel'>
        <h3>Programme de {{ subscriberHeaders['name'] }}</h3>
        
        {% if subscriberMeals['monday'] | length > 0 %}
            <ul class='day-list'>
                {% for dayKey, dailyMeals in subscriberMeals %}
                    <li>
                        <h4 class='day-header orange-bkgd'>

                            {% for weekDay in weekDaysList %}
                                {% if weekDay['english'] == dayKey %}
                                    {{ weekDay['french'] }} - {{ dailyMeals | length }} repas
                                {% endif %}
                            {% endfor %}
                        </h4>

                        <ul class='daily-program-list' data-daily-program='{{ dailyMeals | json_encode() }}'>
                            {% for mealKey, meals in dailyMeals %}
                                <li class='meal-item'>
                                    <a href='index.php?page=edit-program-menu&day={{ dayKey }}&meal={{mealKey}}'>
                                        <table class='btn meal-data-tab' data-ingredients='{{ meals | json_encode() }}'>
                                            <caption class='meal-header meal-item-title'>
                                            
                                                {% for mealName in mealsList %}
                                                    {% set meal = meals | first %}
                                                    {% if mealName['english'] == meal['meal'] %}
                                                        {{ mealName['french'] }}
                                                    {% endif %}
                                                {% endfor %}
                                            </caption>
                                        </table>
                                    </a>
                                </li>
                            {% endfor %}
                            
                            <button class='btn rounded-btn nutrients-toggle wrap-btn large-btn'>
                                <i class="fa-solid fa-angle-up"></i>
                            </button>

                        </ul>
                        
                        <div class='day-nutrients'>
                            <table class='btn day-data-tab'>
                            </table>

                            <button class='btn rounded-btn unwrap-btn nutrients-toggle large-btn'><i class='fa-solid fa-angle-down'></i></button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <form action='index.php?action=generate-meals&id={{ subscriberHeaders['user_id'] }}' method='post' class='meals-form' data-meals='{{ mealsList | json_encode() }}'>
                <p>Sélectionnez les repas à intégrer chaque jour :</p>

                <div id='meal-inputs-block'>

                    {% for mealKey, meal in mealsList %}
                        <div class='meal-entry'>
                            <input type="checkbox" name="meal-{{ mealKey }}" id="meal-{{ mealKey }}">
                            <label for="meal-{{ mealKey }}">{{ meal['french'] }}</label>
                        </div>

                    {% endfor %}
                </div>
                    
                <button type='submit' id='meals-submit-btn' class='btn rounded-btn tiny-btn'>Suivant</button>
                
            </form>
        {% endif %}
    </div>
{% endblock pageContent %}

{% block scripts %}
    {% include 'components/scripts.html.twig' %}
{% endblock scripts %}