<ul class='programs-container'>
    {% for program in programs %}
    <li>
        <img src='{{ backgroundImagesPath }}{{ program.backgroundimage }}' alt='plat gastronomique' />
        <a href='index.php' class='program-details'>
            <h2>{{ program.title }}</h2>
            <p><i class="fa-solid fa-clock"></i>{{ program.duration }}</p>
            <p>{{ program.price }}</p>
            <button><i class="fa-solid fa-plus"></i></button>
        </a> 
    </li>
    {% endfor %}
</ul>