<div class='showcase-content program-details-container {{ program.name }}-program'>
    <div class='program-details glowy-bkgd'>
        <a href='index.php?page=programslist' class='btn rounded-btn blue-btn'>
            <i class="fa-solid fa-arrow-left-long"></i>
            Retour aux formules
        </a>

        <div class='program-headers'>
            <h2>{{ program.frenchTitle }}</h2>
            <p><i class="fa-solid fa-clock"></i>{{ program.duration }} jours</p>
            <p>{{ program.subscriptionPrice }} €</p>
        </div>

        {# remove once every program description is implemented #}
        {% if program.description != NULL %}
        <div class='program-description'>
            <p>{{ program.description | raw }}</p>
        </div>
        {% endif %}

        <a href='index.php?page=login' class='btn rounded-btn blue-btn'>Je m'inscris !</a>
    </div>
</div>