<div class='showcase-content programdetails-container'>
    <img src='app/img/program-backgrounds/{{ program.name }}-sub.jpg' alt='{{ program.background_Alt }}'></img>
    <div class='program-details'>
        <a href='index.php?page=programslist' class='showcase-section-link prev-page-link'>
            <i class="fa-solid fa-arrow-left-long"></i>
            Retour aux formules
        </a>

        <div class='program-headers'>
            <h2>{{ program.french_title }}</h2>
            <p><i class="fa-solid fa-clock"></i>{{ program.duration }} jours</p>
            <p>{{ program.subscription_price }} €</p>
        </div>

        {% if program.description != NULL %}
        <div class='program-description'>
            <p>{{ program.description | raw }}</p>
        </div>
        {% endif %}

        <a href='index.php?page=login' class='subscription-link next-page-link'>Je m'inscris !</a>
    </div>
</div>