{% if requestedPage in showcasePanels %}
<nav id='static-menu'>
    <ul>
        <li class='{{ requestedPage == 'presentation' ? 'blue-bkgd' : 'cloudy-bkgd' }}'>
            <a href='index.php'>Présentation</a>
        </li>
        <li class='{{ requestedPage == 'coaching' ? 'blue-bkgd' : 'cloudy-bkgd' }}'>
            <a href='index.php?page=coaching'>Coaching nutrition</a>
        </li>
        <li class='{{ requestedPage in ['programsList', 'programDetails', 'showcase-404'] ? 'blue-bkgd' : 'cloudy-bkgd' }}'>
            <a href='index.php?page=programslist'>Formules</a>
        </li>
    </ul>
</nav>

{% else %}
<div id='page-name-cnn'>
    <div class='title-layer cloudy-bkgd'>
        {% if (subPanel is defined) and (nutritionPanel is defined) %}
        <a href='index.php?page=nutrition-program' class='back-to-dashboard-btn'>
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2>
            ... > {{ subPanel }} > Liste d'ingredients
        </h2>

        {% elseif (subPanel is defined) and (nutritionPanel is not defined) %}
        <a href='index.php?page=dashboard' class='back-to-dashboard-btn'>
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <h2>
            Mon tableau de bord > {{ subPanel }}
        </h2>

        {% else %}
        <h2>
            Mon tableau de bord
        </h2>
        
        {% endif %}
    </div>
</div>
{% endif %}